# Created by .ignore support plugin (hsz.mobi)
bin/
dist/
build/
wheelhouse/
node_modules
*.egg-info/
*.py[co]
__pycache__/
__pycache__/*
.tox
*.deb
*.pyc
*.pyo
doc/_build/
.idea
.env
.pytype
.venv
.coverage
hash
orbitdb/
source
scheme.js
_bck/
_bck/**
_build/
_static/
_templates/
.pytest_cache
orbit*/
pragma*.txt
src/.pytest_cache
data/ipfs
data/*
geth
dump/
dump/*
htmlconv
watchit.db
coverage.xml
.models/*
typings/*
example.jpg
scripts/*
coverage.lcov