# Created by .ignore support plugin (hsz.mobi)
node_modules
.idea
package-lock.json
hash
clients
orbitdb/
source
scheme.js
resolvers
orbit*/
pragma.txt
!resolvers/__init__.py
!resolvers/dummy/dummy.py
!resolvers/dummy/__init__.py
src/bash/local_init_ipfs.sh
src/core/media/torrents
data/ipfs
