# Created by .ignore support plugin (hsz.mobi)
bin/
dist/
build/
wheelhouse/
node_modules
*.egg-info/
*.py[co]
__pycache__/
__pycache__/*
.tox
*.deb
doc/_build/
.idea
.env
.venv
.coverage
hash
clients
orbitdb/
source
scheme.js
resolvers
_bck/**
orbit*/
pragma*.txt
src/.pytest_cache
!resolvers/__init__.py
!resolvers/dummy/dummy.py
!resolvers/dummy/__init__.py
data/ipfs
data/*
geth
dump/
dump/*
htmlconv
