version: '3'
services:
  watchit_ipfs:
    image: ipfs/go-ipfs:v0.6.0
    restart: always
    command: [ "daemon", "--migrate=true", "--enable-gc", "--enable-namesys-pubsub" ]
    environment:
      - IPFS_PROFILE=server
      - IPFS_PATH=/ipfsdata
    volumes:
      - ./data/ipfs/:/ipfsdata
    ports:
      #      - "0.0.0.0:80:8080"
      - "0.0.0.0:8080:8080/tcp"
      - "0.0.0.0:4001:4001/tcp"
      - "0.0.0.0:4001:4001/udp"
      - "127.0.0.1:5001:5001"

  watchit_migrator:
    build: .
    image: gmena/migrate:v1.0.32
    container_name: watchit_migrator
    command: python3 main.py
    links:
      - "watchit_mongodb:mongodb"
      - "watchit_ipfs:ipfs"
    volumes:
      - .:/data/watchit
      - /data/watchit/node_modules
    env_file:
      - .env
    depends_on:
      - watchit_mongodb
      - watchit_ipfs
      - watchit_orbitdb_api

  watchit_mongodb:
    image: mongo
    container_name: watchit_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"

  watchit_orbitdb_api:
    image: phillmac/orbit-db-http-api-dev:debug
    restart: unless-stopped
    command: [ "node", "--trace-warnings", "src/cli.js", "api", "--debug" ]
    environment:
      IPFS_HOST: 'watchit_ipfs'
      ORBITDB_DIR: '/orbitdb'
      FORCE_HTTP1: 'true'
      ANNOUNCE_DBS: 'true'
      LOG: 'DEBUG'
    depends_on:
      - watchit_ipfs
    ports:
      - 127.0.0.1:3001:3000/tcp
    volumes:
      - ./orbitdb:/orbitdb

  watchit_db_monitor:
    image: peelvalley/ipfs-cli
    restart: unless-stopped
    entrypoint: [ "bash" ]
    command: [ "-c", "source /scripts/orbitdb_functions.sh && monitor_ipns_dbs" ]
    environment:
      IPFS_RESOLVE_TIMEOUT: "15m"
      IPFS_CAT_TIMEOUT: "5m"
      IPFS_HTTP_GATEWAY: "http://watchit_ipfs:8080"
      ORBIT_DB_HOST: "http://watchit_orbitdb_api:3000"
      ORBIT_DB_ENTRIES_TIMEOUT: 30000
      IPFS_API_HOST: "watchit_ipfs"
      IPNS_DB_NAME: "wt.movies.db"
      DB_MONITOR_WAIT: "15m"
      DB_MONITOR_IPNS: "QmS9quPks7nugYR6od7VSs8iHMqsHJvNVboqQdvQ2uDHzD"
      OPEN_FETCH_DB_CONTENTS: "TRUE"
    depends_on:
      - watchit_orbitdb_api

  watchit_certbot:
    image: peelvalley/certbot
    restart: unless-stopped
    environment:
      NOTIFY_EMAIL: 'dev@zorrillos.com'
    volumes:
      - cert-data:/etc/letsencrypt
      - ./config/certbot/domains:/opt/certbot/domains/

  watchit_reverse_proxy:
    image: peelvalley/proxy
    restart: unless-stopped
    links:
      - "watchit_certbot:certbot"
      - "watchit_ipfs:ipfs"
    ports:
      - "0.0.0.0.0:80:80"
      - "0.0.0.0.0:443:443"
      - "0.0.0.0.0:4002:4002"
    volumes:
      - ./config/reverse-proxy/conf.d.available:/etc/nginx/conf.d.available
      - ./config/reverse-proxy/conf.d.enabled:/etc/nginx/conf.d.enabled
      - proxy-conf:/etc/nginx/conf.d
      - cert-data:/etc/letsencrypt
      - proxy-cache:/cache/nginx


volumes:
  cert-data:
  proxy-cache:
  proxy-conf:
    driver_opts:
      type: tmpfs
      device: tmpfs