# NOTE: All relative paths are relative to the location of this file.

[pytype]

# Space-separated list of files or directories to exclude.
exclude =
    **/*_test.py
    **/test_*.py

# Space-separated list of files or directories to process.
inputs =
    .

# Keep going past errors to analyze as many files as possible.
keep_going = False

# Run N jobs in parallel. When 'auto' is used, this will be equivalent to the
# number of CPUs on the host system.
jobs = 4

# All pytype output goes here.
output = .pytype

# Platform (e.g., "linux", "win32") that the target code runs on.
platform = linux

# Paths to source code directories, separated by ':'.
pythonpath =
    .

# Python version (major.minor) of the target code.
python_version = 3.10

# Use the enum overlay for more precise enum checking. This flag is temporary
# and will be removed once this behavior is enabled by default.
use_enum_overlay = False

# Build dict literals from dict(k=v, ...) calls. This flag is temporary and will
# be removed once this behavior is enabled by default.
build_dict_literals_from_kwargs = False

# Enable stricter namedtuple checks, such as unpacking and 'typing.Tuple'
# compatibility. This flag is temporary and will be removed once this behavior
# is enabled by default.
strict_namedtuple_checks = False

# Enable exhaustive checking of function parameter types. This flag is temporary
# and will be removed once this behavior is enabled by default.
strict_parameter_checks = False

# Enable support for nested classes in .py files. This flag is temporary and
# will be removed once this behavior is enabled by default.
enable_nested_classes = True

# Emit errors for comparisons between incompatible primitive types. This flag is
# temporary and will be removed once this behavior is enabled by default.
strict_primitive_comparisons = False

# Enable default value checks for overriding methods. This flag is temporary and
# will be removed once this behavior is enabled by default.
overriding_default_value_checks = False

# Enable parameter count checks for overriding methods. This flag is temporary
# and will be removed once this behavior is enabled by default.
overriding_parameter_count_checks = False

# Enable parameter name checks for overriding methods. This flag is temporary
# and will be removed once this behavior is enabled by default.
overriding_parameter_name_checks = False

# Enable parameter type checks for overriding methods. This flag is temporary
# and will be removed once this behavior is enabled by default.
overriding_parameter_type_checks = False

# Enable return type checks for overriding methods. This flag is temporary and
# will be removed once this behavior is enabled by default.
overriding_return_type_checks = False

# Support variable annotations without assignments. This flag is temporary and
# will be removed once this behavior is enabled by default.
enable_bare_annotations = False

# Support pyglib's @cached.property. This flag is temporary and will be removed
# once this behavior is enabled by default.
enable_cached_property = False

# Solve unknown types to label with structural types. This flag is temporary and
# will be removed once this behavior is enabled by default.
protocols = False

# Only load submodules that are explicitly imported. This flag is temporary and
# will be removed once this behavior is enabled by default.
strict_import = False

# Infer precise return types even for invalid function calls. This flag is
# temporary and will be removed once this behavior is enabled by default.
precise_return = False

# Comma or space separated list of error names to ignore.
disable =
    pyi-error

# Don't report errors.
report_errors = True
