appdirs==1.4.4
attrs==21.2.0
backcall==0.2.0
base58==2.1.0
black==21.8b0
certifi==2017.11.5
chardet==3.0.4
charset-normalizer==2.0.1
click==8.0.1
coloredlogs==15.0.1
coverage==5.5
decorator==4.1.2
distlib==0.3.1
ffmpeg-python==0.2.0
filelock==3.0.12
flake8==3.9.2
future==0.18.2
gevent==21.1.2
greenlet==1.1.0
html5lib==1.0.1
humanfriendly==9.2
idna==2.6
iniconfig==1.1.1
ipdb==0.10.3
ipfshttpclient @ git+https://github.com/ipfs-shipyard/py-ipfs-http-client.git@f04ff601556f8429837eb7d4851fe02913f72f63
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
marshmallow==3.10.0
matplotlib-inline==0.1.2
mccabe==0.6.1
multiaddr==0.0.9
mypy-extensions==0.4.3
netaddr==0.8.0
packaging==21.0
parso==0.1.1
pathspec==0.9.0
pexpect==4.3.1
pickleshare==0.7.4
pipenv==2020.11.15
platformdirs==2.4.0
pluggy==0.13.1
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.2.0
pymongo==3.6.0
pyparsing==2.4.7
pytest==6.2.4
pytest-mock==3.6.1
python-dotenv==0.18.0
regex==2021.10.21
requests==2.26.0
responses==0.15.0
simplegeneric==0.8.1
six==1.11.0
toml==0.10.2
tomli==1.2.1
tqdm==4.61.2
traitlets==4.3.2
typing-extensions==3.10.0.2
urllib3==1.26.7
validators==0.18.2
varint==1.0.2
verboselogs==1.7
virtualenv==20.4.0
virtualenv-clone==0.5.4
wcwidth==0.1.7
webencodings==0.5.1
zope.event==4.5.0
zope.interface==5.4.0
